.cryptoPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    position: relative;
}

.cryptoPage .back {
    position: absolute;
    top: 45px;
    left: 38px;
}

.nameCrypto {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nameCrypto img {
    width: 50px;
    height: 50px;
}

.nameCrypto .name {
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    border-bottom: 2px solid #EB00FF;
    padding: 10px 0;
}

.сtyptoButtons {
    display: flex;
    padding: 10px 30px;
    gap: 34px;
    margin-top: 10px;
}

.сtyptoButtons button {
    padding: 15px 40px;
}

.сtyptoButtons button {
    border-radius: 16px;
    border: 2px solid var(--white, #FFF);
    background: #120C34;
}

.balanceInfo {
    margin-top: 30px;
}

.balanceInfo__USD,
.balanceInfo__crypto {
    display: flex;
    font-size: 30px;
    margin: 0 auto;
    width: fit-content;
    font-size: 23px;
}

.balanceInfo__crypto {
    font-size: 25px;
}

.balanceInfo__USD {
    opacity: 0.5;
}

.balanceInfo .gray {
    opacity: 0.5;
}