/* Основний контейнер компонента */
.custom-dropdown-container {
    position: relative;
    text-transform: uppercase;
}

/* Тригер для відкриття списку */
.custom-dropdown-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 50px;
    height: 45px;
    border-bottom: 2px solid var(--main);
    padding: 0 10px;
    cursor: pointer;
}

.custom-dropdown-trigger img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Стилі для випадаючого списку */
.custom-dropdown-options {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    background-color: var(--secondary);
    max-height: 200px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    z-index: 1;
}

.custom-dropdown-options::-webkit-scrollbar {
    width: 0;
}

/* Стилі для пунктів списку */
.custom-dropdown-option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.2s;
}

.custom-dropdown-option img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}


.custom-dropdown-option:hover {
    background-color: var(--bg);
}

/* Відображаємо список при відкритті */
.custom-dropdown-options.open {
    display: block;
}