.tabs {
    width: 100%;
}

.tabs-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 2px solid #ffffff4f;
}

.tabs-nav div {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 150px;
    cursor: pointer;
}

.active-item {
    border-bottom: 2px solid #fff;
}

.transactions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    opacity: 0.5;
}

.chartCrypto {
    position: relative;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    padding: 40px 60px;
}

.about-item img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.marketInfo {
    padding: 10px 15px 20px;
}

.marketInfo .change {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.marketInfo .price {
    font-size: 22px;
}