.deposit {
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
}

.loadDepo {
    height: 80vh;
}

.deposit .menuDeposit {
    margin-bottom: 40px;
}

.deposit .menuDeposit .title {
    font-size: 26px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.015em;
    margin-bottom: 32px;
}

.deposit .menuDeposit .periodsTabs {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    color: #888599;
    border-bottom: 2px solid #FFFFFF4D;
}

.deposit .menuDeposit .periodsTabs .period {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}

.deposit .menuDeposit .periodsTabs .active {
    color: #ffffff;
    padding-bottom: 5px;
    border-bottom: 2px solid #ffffff;
}


.deposit .menuDeposit .periodsTabs .period span {
    font-weight: 275;
}

.deposit .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.deposit .main>img {}

.deposit .main>p {
    font-size: 30px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0px;
}

.deposit .main .selectCripto {
    position: relative;
    max-width: 315px;
    margin-bottom: 80px;
}

.deposit .main .selectCripto .inputBox {
    position: relative;
}

.deposit .main .selectCripto .inputBox p {
    position: absolute;
    right: 0;
    top: 5px;
}

.deposit .main .selectCripto .inputBox .width {
    margin-bottom: 30px;
    max-width: 305px;
}

.deposit .main .selectCripto .currencyCrypto {
    display: flex;
    justify-content: space-evenly;
}

.deposit .main .selectCripto .currencyCrypto .crypto {
    font-size: 26px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.015em;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 0 5px;
}

.deposit .main .selectCripto .widthBtn {
    margin: 0 auto;
    width: 305px;
    height: 60px;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.deposit .main .selectCripto .disablet {
    background: #7c798e;
}

.deposit .main .selectCripto .disablet:hover {
    background: #7c798e;
}

.deposit .main .selectCripto .currencyCrypto .active {
    border-bottom: 2px solid var(--main);
}

.deposit .main .selectCripto .currencyCrypto .wid {
    cursor: text;
    width: fit-content;
}

.deposit .main .selectCripto .balanceCrypto {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.deposit .main .selectCripto .balanceCrypto>span {
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.015em;
}

.deposit .main .selectCripto .balanceCrypto>span span {
    color: #888599;
}

.deposit .main .selectCripto .labelForm {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF99;
}

.messageDeposit {
    margin-bottom: 5px;
    text-align: center;
    font-size: 16px;
    color: #FE3333;
}

.deposit .main .selectCripto .details {
    position: absolute;
    right: -420px;
    bottom: 20px;
}

.deposit .main .selectCripto .details .btn {
    color: #888599;
    cursor: pointer;
}

.deposit .main .selectCripto .details .text {
    display: none;
    position: relative;
}

.deposit .main .selectCripto .details .text span {
    width: 450px;
    position: absolute;
    right: 0;
    bottom: 30px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.015em;
    border: 1px solid #2F295E;
    background: linear-gradient(0deg, #241E4E, #241E4E), linear-gradient(0deg, #2F295E, #2F295E);
    box-shadow: 0px 4px 24px 0px #00000033;
    padding: 16px 24px;
    border-radius: 10px;
}

.deposit .main .selectCripto .show .text {
    display: block;
}

.deposit .main .selectCripto .show .btn {
    color: #ffffff;
}

.deposit .main .infoDeposit {
    display: flex;
    width: 100%;
}

.deposit .main .infoDeposit .tabsHistory {
    width: 50%;
}

.deposit .main .infoDeposit .chartDeposit {
    width: 50%;
}

.deposit .main .infoDeposit .tabsHistory .limit {
    max-width: 500px;
}

.deposit .main .infoDeposit .tabsHistory .limit .tabs {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.015em;
    border-bottom: 2px solid #FFFFFF4D;
    color: #888599;
    margin-bottom: 20px;
}

.deposit .main .infoDeposit .tabsHistory .limit .tabs p {
    padding: 0 20px 5px;
    cursor: pointer;
}

.deposit .main .infoDeposit .tabsHistory .limit .tabs .active {
    border-bottom: 2px solid white;
    color: white;
}

.deposit .main .infoDeposit .tabsHistory .limit .historyDeposit,
.deposit .main .infoDeposit .tabsHistory .limit .historyOrder {
    max-height: 400px;
    overflow: auto;
    padding-right: 5px;
}

.deposit .main .infoDeposit .tabsHistory .limit .historyDeposit::-webkit-scrollbar,
.deposit .main .infoDeposit .tabsHistory .limit .historyOrder::-webkit-scrollbar {
    width: 4px;
}

.deposit .main .infoDeposit .tabsHistory .limit .historyDeposit::-webkit-scrollbar-thumb,
.deposit .main .infoDeposit .tabsHistory .limit .historyOrder::-webkit-scrollbar-thumb {
    background: #c9c9c956;
}

.deposit .main .infoDeposit .tabsHistory .limit .historyDeposit::-webkit-scrollbar-track,
.deposit .main .infoDeposit .tabsHistory .limit .historyOrder::-webkit-scrollbar-track {
    background: inherit;
}

.deposit .main .infoDeposit .tabsHistory .limit .historyOrder .record {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #332F54
}

.deposit .main .infoDeposit .tabsHistory .limit .historyOrder .record img {
    margin-right: 15px;
}

.deposit .main .infoDeposit .tabsHistory .limit .historyOrder .record .date {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.015em;
}

.deposit .main .infoDeposit .tabsHistory .limit .historyOrder .record .total {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.015em;
    flex-grow: 1;
    text-align: right;
    margin-right: 15px;
}

.deposit .main .infoDeposit .tabsHistory .limit .historyOrder .record .crypto {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.015em;
    color: #888599;
}

.noChart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
}


.chart-container {
    background: linear-gradient(to bottom, rgba(128, 74, 53, 0.2), rgba(128, 74, 53, 0));
}