.staking {
    padding: 26px 30px;
}

.staking h2 {
    font-size: 26px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.015em;
    text-align: left;
    margin-bottom: 15px;
}

.staking h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 48px;
}

.staking .explanation {
    display: flex;
    justify-content: space-between;
    max-width: 840px;
    margin-bottom: 70px;
}

.staking .arrow {
    width: 30px;
}

.staking .explanation .stage {
    
}

.staking .explanation .stage .titleStage {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.staking .explanation .stage .available {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF99;
}

.staking .explanation .stage .stakedStage {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF99;
}

.staking .crypto {
    display: flex; 
    flex-wrap: wrap;
    width: 100%;
}

.staking .crypto .loadBlock {
    flex-grow: 1;
    height: 100%;
}

.staking .crypto .cryptoCard {
    border-radius: 16px;
    background: #312B5699;
    margin-right: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 112px;
    height: 152px;
}

.staking .crypto .cryptoCard .link {
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 12px 17px 12px 16px;
}

.staking .crypto .cryptoCard img {
    width: 40px;
    height: 40px;
    margin-bottom: 7px;
}

.staking .crypto .cryptoCard h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: right;
    color: #ffffff8e;
    margin-bottom: 14px;
}

.staking .crypto .cryptoCard p {
    font-size: 26px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.015em;
    color: #ffffff;
    text-align: left;
}