.replenishmentPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.replenishmentPage .crypto-form {
    display: flex;
    align-items:flex-end;
    margin-top: 150px;
    margin-bottom: 50px;
}

.replenishmentPage .crypto-form .row {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    position: relative;
}

.replenishmentPage .crypto-form .right,
.replenishmentPage .crypto-form .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 470px;
    position: relative;
}

.replenishmentPage .crypto-form .right .reward-text {
    position: absolute;
    bottom: -30px;
}

.replenishmentPage .crypto-form .left .col {
    text-align: center;
}

.replenishmentPage .crypto-form .left .col .buy {
    color: var(--main);
}

.replenishmentPage .crypto-form__img {
    width: 70px;
    height: 70px;
    margin-bottom: 84px;
    border-radius: 50%;
    background: #fff;
}

.replenishmentPage .crypto-form__input {
    width: 400px;
    background: none;
    border: none;
    border-bottom: 2px solid var(--text);
    font-size: 24px;
}

.replenishmentPage .crypto-form .form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.replenishmentPage .arrow {
    font-size: 20px;
    margin: 0 20px;
}

.replenishmentPage .crypto-form__button {
    margin-top: 20px;
}

.replenishmentPage .crypto-form__text {
    display: flex;
    align-items: center;
    margin: 0;
    width: fit-content;
    line-height: 42px;
    margin-bottom: 55px;
    color: #FE3333;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0px;
}

.replenishmentPage .crypto-form__text .buy {
    width: fit-content;
    border: 2px solid white;
    border-radius: 15px;
    color: white;
    padding: 3px 15px;
    font-size: 13px;
    margin: 0 auto;
}

.replenishmentPage .reward-text {
    margin-top: 10px;
    text-align: left;
    width: 100%;
}

.replenishmentPage .checkbox-container {
    display: flex;
    cursor: pointer;
}
.replenishmentPage .checkbox-container .checkbox{
    width: 22px;
    height: 22px;
    top: 2px;
    border-radius: 4px;
    background: #060026;
    margin-right: 10px;
}

.replenishmentPage .disablet {
    background: #7c798e;
}

.replenishmentPage .disablet:hover {
    background: #7c798e;
}

.replenishmentPage .sendAll {
    display: flex;
    align-items:center;
    position: absolute;
    left: 330px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    width: 100px;
    height: 100%;
    cursor: pointer;
    transition: 0.4s;
}

.replenishmentPage .sendAll:hover {
    color: var(--main);
}

.replenishmentPage  .infoText{
    margin-bottom: 30px;
}

.replenishmentPage .infoText p{
    margin-bottom: 10px;
}