.table-title {
    position: sticky;
    top: 0;
    background: var(--bg);
    color: var(--text-secondary);
    z-index: 100;
}



.table-item {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr 1fr;
    align-items: center;
    background: var(--tableItem);
    padding: 5px 15px;
}

.table-item:nth-child(odd) {
    background: var(--bg);
}


.table-item__icon {
    display: flex;
    width: 30px;
    height: 30px;
}

.table-item__search {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    margin-left: 13px;
    width: 200px;
    color: #FFFFFF;
}

.table-item__search input {
    margin: 0;
    padding: 0;
    background: none;
    outline: none;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



.table-item__balance {
    color: #FFFFFF;
}

.table-item__balance .total {
    color: #FFFFFF;
}

.table-item__balance .symbol {
    color: #ffffff7a;
}

.table-item__value {
    color: #FFFFFF;
}

.table-item__price {
    color: #ffffff7a;
}

.table-item__24h {
    display: flex;
    align-items: center;
}
.table-item__24h img {
    margin-right: 5px;
}

.table-item__24h.red {
    color: #FE3333;
}

.table-item__24h.green {
    color: #00FF47;
}

.table-item__chart {
    display: flex;
    align-items: center;
    width: 300px;
    height: 60px;
    position: relative;
    margin-right: 40px;
}

.table-item__chart .posithion {
    position: absolute;
    bottom: -20px;
}

.table-title .table-item__chart {
    height: 30px;
    background: var(--bg);
}