.replenishmentPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.crypto-form {
    display: flex;
    margin-top: 150px;
}


.checkbox-container {
    display: flex;
    gap: 20px;
}

.checkbox-container .checkbox {
    width: 15px;
}

.crypto-form .right,
.crypto-form .left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crypto-form__img {
    width: 70px;
    height: 70px;
    margin-bottom: 84px;
    border-radius: 50%;
    background: #fff;
}

.crypto-form__input {
    background: none;
    border: none;
    border-bottom: 2px solid var(--text);
    font-size: 24px;
    width: 400px;

}

.crypto-form .form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow {
    display: flex;
    align-items: flex-end;
    width: 30px;
    height: 100%;
    font-size: 20px;
    margin: 0 20px;
}

.crypto-form__button {
    margin-top: 20px;
}

.crypto-form__text {
    margin-top: 50px;
    width: 370px;
    line-height: 42px;
}

.reward-text {
    margin-top: 10px;
    text-align: left;
    width: 100%;
}