@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');

:root {
  --bg: #1D1841;
  --main: #EB00FF;
  --tableItem: rgba(47, 40, 89, 0.56);
  --text: #fff;
  --text-secondary: #9c9c9c;
  --secondary: #120C34;
  --BLUE_main: #2F0DFF;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--text);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  padding: 0px 0px 0px 185px;
}

a {
  text-decoration: none;
}

button {
  display: inline-flex;
  padding: 20px 70px;
  align-items: flex-start;
  gap: 34px;
  color: var(--text);
  font-size: 20px;
  border-radius: 16px;
  background: var(--BLUE_main);
  transition: 0.4s;
  cursor: pointer;
}

button:hover {
  background: var(--main);
  color: var(--text);
}

input {
  background: var(--secondary);
  color: var(--text);
  outline: none;
  padding: 5px;
}

.title {
  font-weight: bold;
  font-size: 30px;
}

.icon-cripto {
  width: 30px;
  height: 30px;
}


.notification {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  z-index: 1000;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.notification.success {
  background-color: #4caf50;
  color: white;
}

.notification.error {
  background-color: #f44336;
  color: white;
}

.page-tabs {
  display: flex;
  width: 100%;
}

.page-tabs div {
  width: 50%;
  padding: 30px;
  text-align: center;
}

.page-tabs div {
  background: #342F55;
}

.page-tabs div.active {
  background: var(--bg);
}

.loadBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  flex-direction: column;
}

.loadBlock .loadText {
  font-size: 25px;
}

.loadBlock .loadImg {
  margin-bottom: 10px;
}
.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.history-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.history-item .row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.history-item {
  border-bottom: 1px solid hsl(249, 9%, 56%, 0.2);
  margin-bottom: 16px;
}

.history-item.Buy .history-item__arrow {
  color: #4caf50;
}

.history-item.Convert .history-item__arrow {
  color: red;
}

.history-item__type {
  color: var(--main);
}

.history-item__date {
  opacity: 0.5;
}

.history-item__from,
.history-item__to {
  font-size: 24px;
  font-weight: bold;
  width: 400px;
}

.history-item__to {
  text-align: right;
}

.history-item__arrow {
  color: var(--main);
  font-size: 30px;
}